{{#isDynamicVariant}}
<div <?php echo get_block_wrapper_attributes(); ?>>
	<h4>{{title}}</h4>
	<p><?php the_field( '{{namespaceSnakeCase}}_{{slugSnakeCase}}_text_field' ); ?></p>
</div>
{{/isDynamicVariant}}